#container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	
	padding: 75px 225px 100px;

	border-radius: 25px;
	background-color: #BEADAD;

	text-align: left;
	font-family: courier, monospace;
}

#recentexperience {
	font-size: 42px;
}

#bree {
	border-radius: 25px;
	background-color: #DCD4D4;
}

.date {
	float: right;	
}

h1 {
	font-size: 48px;
	margin: 2px;
}

h2 {
	font-size: 24px;
	margin: 2px;
}

h3 {
	font-size: 20px;
	margin: 2px;
}

h4 {
	font-size: 18px;
	margin: 2px;
}
